<!--vastu_info.html-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vastu Guidelines</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        #vastuContent {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            background-color: #f9f9f9;
            border-radius: 5px;
        }
        .button-container {
          display: flex;
          justify-content: center; 
          margin-top: 20px; 
      }
      
      button {
          padding: 15px 30px; 
          font-size: 18px; 
          background-color: #007bff; 
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease, transform 0.3s ease;
      }
      
      button:hover {
          background-color: #0056b3;
          transform: scale(1.1); 
      }
      
    </style>
</head>
<body>

    <div id="vastuContent">
        <h1>Basic Vastu for House</h1>
        <h2>Basic Guidelines for Vastu</h2>
        <p>Embracing Vastu Shastra principles during the construction of your home can infuse it with positive energy and vibrations, fostering an environment of happiness, health, and prosperity. Even for those who may not hold strong beliefs in Vastu Shastra, adhering to its guidelines can still be advantageous as a Vastu-compliant house often commands a higher resale value and enjoys increased demand among followers of Vastu principles.</p>
        <p>Adhering to Vastu Shastra principles can prove advantageous, particularly during the construction phase of a new house, as it allows for easier design adjustments compared to modifying a fully constructed home. Adhering to every single rule of Vastu Shastra can be a daunting task, and nearly all houses tend to deviate from some of these guidelines. Achieving full Vastu compliance is a challenging endeavor, typically accomplished by exceptionally skilled architects. If your house aligns with the rules listed below, it can be regarded as an exceptionally well-designed home.</p>
        <h2>Kitchen</h2>
        <p>When it comes to Vastu for the kitchen, the ideal direction to consider is the South East, often referred to as the Agni Kone or the corner of fire. The second-best option is the North East direction. It's advisable not to construct your kitchen beneath a staircase. This can lead to negative energy flow and disrupt the harmony in the household. For an auspicious layout, position the cooking counter in the eastern part of the kitchen. This arrangement allows the person cooking to face east, symbolizing a connection with the morning sun and absorption of its energy.</p>
        <h2>Living Room</h2>
        <p>Northwest, northeast, and north directions are considered highly auspicious for the living room. They are associated with positive energy flow and harmony within the household. If your house faces south, the Southwest direction can be a good choice for the living room. It can help balance the energies and create a welcoming atmosphere. Avoid placing stairs directly in front of the main door. This is believed to be a myth. What's more important is that the stairs do not obstruct the main entrance and that they are designed in a way that promotes safe and convenient access.</p>
        <h2>Staircase</h2>
        <p>The Southwest direction is considered the most favorable for constructing a staircase in your home. If the Southwest direction is not feasible, consider West or South as the second-best options for staircase placement. Ensure that the number of steps in your staircase is an odd number, as this is considered auspicious in Vastu. Staircases should have a rectangular design.</p>
        <h2>Master Bedroom</h2>
        <p>Place your master bedroom in the southwest or south direction. Avoid locating it in the northeast or center of the house. Position your bed in the southwest part of the room. Choose soothing colors like light blues, soft greens, or gentle pastels for the bedroom walls to create a calming atmosphere. Avoid bold or overly stimulating colors.</p>
        <h2 id="brahmasthan">Brahmasthan</h2>
        <p>Brahmasthan is in the centre of the house. To find Brahmasthan of your house, divide the length and breadth of your house into eight equal parts, creating a grid resembling a chessboard. This results in a total of 64 squares, with the central 4 squares collectively referred to as the Brahmasthan. The Brahmasthan is considered the most sacred and energetically powerful area within a home. The Brahmasthan holds immense spiritual significance and should be treated with reverence. It is the source of positive energy and harmony within the house.</p>
        <p>Refrain from constructing walls, beams, stairs, toilet, room, or any structure within the Brahmasthan. It is crucial to keep this entire central area free from such elements. If this isn't feasible due to architectural constraints, ensure that at the very least, the central point of the Brahmasthan remains unobstructed.</p>
        <p>Keep the Brahmasthan area well-ventilated to allow the free flow of fresh air and energy. Adequate ventilation enhances the positive atmosphere within your home. Design your house in such a way that energy can flow freely from Brahmasthan to all other parts of the house.</p>
        <h2>Well (Underground Water)</h2>
        <p>The ideal location for a well is in the North, North-East, or East direction of the property. Ensure that the well is at a reasonable distance from the main house. It should not be too close to the house. Regularly maintain and clean the well to ensure the water remains pure and healthy. When drawing water from the well, face the North or East direction. If your well is not in an ideal Vastu-compliant location, you can consider Vastu remedies such as placing a copper pyramid or other energizing elements near the well.</p>
        <h2>Garage/Car Porch</h2>
        <p>The best location for a garage or car porch is in the North-West or North. Avoid building an oversized garage that dominates the property. The entrance to the garage should ideally face the North or East. Avoid parking vehicles on the underground tank.</p>
        <h2>Toilet/Bathroom</h2>
        <p>Bathrooms are best placed in the North West. The toilet seat should ideally be placed in such a way that you face the North or South while using it. Ensure that there is no wall shared between the bathroom and kitchen or pooja room. If a wall is shared between the bedroom and bathroom, then the bed must be placed away from this wall. Toilet should not be under stairs.</p>
        <h2>Dining Area</h2>
        <p>The dining room is ideally located in the East. Avoid placing the dining room in the center of the house or near the bedrooms. Germs due to small food particles get killed by abundant sunlight from the east. Have windows or ventilation in the dining room to allow the flow of fresh air and abundant natural light. Avoid bathroom doors to the dining area. Avoid placing the dining room adjacent to or directly in line with a pooja room. Square/rectangular shape is best for dining area. The kitchen and dining room must be on the same floor. It is perfectly acceptable and often convenient to merge the dining room and kitchen into a single, open-plan space.</p>
        <h2>General</h2>
        <p>A square or rectangular-shaped house is considered auspicious. It's essential to have a central line running from the front to the back of the house with an opening, known as the "Madhya Soothram." Ensure that this central line is not obstructed by walls. Instead, windows, doors, or ventilation can be incorporated to keep this line open. If it's not possible to maintain an uninterrupted central line with openings, provide sufficient ventilation along this line to promote positive energy flow.</p>
        <h2 id="ayadi">Ayadi Shadvarga</h2>
        <p>Ayadi Shadvarga is a significant concept in Vedic astrology (Jyotish Shastra) used to assess the strength and auspiciousness of a particular location, structure, or dwelling. It involves calculating specific numerical values related to the dimensions and layout of the space. These values are based on the length, breadth, and height of the structure, as well as the placement of key elements within it. By analyzing these values, one can determine the overall energy balance of the space and identify potential areas of concern or improvement.</p>
        <p>The central space, also known as the Brahmasthan, holds the utmost significance in this analysis. It is where the energies of the structure converge and influence the entire environment. By applying the principles of Ayadi Shadvarga, individuals can make informed decisions about the arrangement and design of their homes or buildings to enhance positive energy flow and harmony within their living spaces.</p>
    </div>
    <div class="button-container">
      <a href="{% url 'myapp' %}">
          <button class="btn btn-primary mt-3 py-2 px-4" style="background-color:#dfb163 !important;">Back</button>
      </a>
  </div>
</body>
</html>
